.git
.github
.gitattributes
.gitignore
.ai
.idea
.claude
.DS_Store
.mcp.json
.editorconfig
CLAUDE.md
boost.json
solo.yml
.env
.env.*
auth.json
storage/*.key
node_modules
vendor
public/build
public/hot
tests
phpunit.xml
phpstan.neon
pint.json
rector.php
Dockerfile
docker-compose.yaml
.dockerignore
